/* DIVIDER LINE STYLES */
.divider {
    background-color: $dark_grey;

    &--horizshort {
        @extend .divider;
        height: 0.5px;
        width: 32px;

        @include respond('medium') {
            width: 64px;
        }
    }

    &--horizlong {
        @extend .divider;
        height: 0.5px;
        width: 64px;

        @include respond('medium') {
            width: 128px;
        }
    }
    
    &--vertshort {
        @extend .divider;
        width: 0.5px;
        height: 16px;

        @include respond('medium') {
            height: 32px;
        }
    }

    &--vertlong {
        @extend .divider;
        width: 0.5px;
        height: 32px;
    }

    &--scroll {
        position: absolute;
        bottom: 16px;
        left: calc(50% - 0.25px);

        @include respond('medium') {
            height: 32px;
            bottom: 64px;
        }
    }

}