<!DOCTYPE html>
<html lang="en-us">
    {{- partialCached "head/favicons.html" . -}}
    {{- partial "head/metadata.html" . -}}
    <title>{{- .Params.Title | default .Site.Title -}}</title>
    {{- partialCached "head/site-style.html" . -}}
    <body>
        {{- partialCached "header/site-header.html" . -}}
        <main id="content">
        {{- block "main" . }}{{- end }}
        </main>
        {{- partialCached "footer/site-footer.html" . -}}
        {{- partialCached "footer/scripts.html" . -}}
    </body>
</html>
