{{ define "main" }}
    <div class="divider--vertshort divider--scroll"></div>
    <div class="wrapper">
        <div class="hero">
            <h1 class="hero__heading" id="about-me">{{- .Params.page_title -}}</h1>
            <div class="hero__divider divider--horizlong"></div>
            <p class='hero__subtitle'>{{- .Params.page_subtitle -}}</p>
        </div>
    </div>

    <div id="{{- delimit (last 1 (split .Params.page_title " ")) "" -}}" class="content--list">

        <ul>

            {{ $list := .Pages }}
            {{ $len := len $list }}
            {{ range $index, $element := $list  }}
            
                <li class="preview">
                    
                    <p class="preview__date">{{- .Params.readable_date -}}</p>
                    
                    <h2 class="preview__title">
                        <a href="{{.Permalink}}">{{- .Params.project_name -}}</a>
                    </h2>
                    
                    <a class="preview__imagewrapper" href="{{.Permalink}}">
                        <img class="preview__image" src="{{- .Permalink -}}/images/first.svg" alt="Preview Image for {{ .Params.project_name }}">
                    </a>
                    
                    <p class="preview__summary">{{- .Params.content_summary -}}</p>
                </li>
                {{ if ne (add $index 1) $len }}
                    <div class="preview__divider divider--vertlong"></div>
                {{ else }}
                    <div class="preview__divider divider--horizshort"></div>
                {{ end }}
            

            {{ end }}
        </ul>
    </div>
{{ end }}