/* VARIABLES */

/* Colors */
$black: #111111;
$dark_grey: #606060;
$grey: #9F9F9F;
$light_grey: #DDDDDD;
$off_white: #FAFAFA;
$white: #FFFFFF;

/* Media Breakpoints */
$breakpoints: (small:576px, medium:768px, large:1024px, );

/* Font Families */
$body_font: 'Inter', sans-serif;
$heading_font: 'Spectral', serif;

/* Other */
