/* CONTENT BLOCK */

main {
    height: 100%;
    width: 100%;
    padding: 0 28px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
    max-width: 800px;

    // ViewportHeight - HeaderHeight - FooterHeight - FooterMargin
    min-height: calc(100vh - 63px - 49px);

    @include respond('medium') {
        min-height: calc(100vh - 84px - 49px);
    }
}

.wrapper {
    @extend main;
    margin-bottom: 49px;
    padding: 0;
}

.content {
    margin-bottom: 64px;
}