/* CONTENT BLOCK */

main {
    height: 100%;
    width: 100%;
    padding: 0 28px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
    max-width: 800px;

    // ViewportHeight - HeaderHeight - FooterHeight - FooterMargin
    min-height: calc(100vh - 63px - 49px);

    @include respond('medium') {
        min-height: calc(100vh - 84px - 49px);
    }

    @media screen and (min-width: 1600px) {
        max-width: 1024px;
    }
}

.wrapper {
    @extend main;
    margin-bottom: 49px;
    padding: 0;
}

.content {
    margin-bottom: 64px;
    width: 100%;

    &--single {
        @extend .content;
        margin-top: calc(100vh - 63px - 48vh);

        @include respond('large') {
            margin-top: calc(100vh - 63px - 56vh);
        }
    }

    &--list {
        @extend .content;
        margin-top: 32px;
    }

    &__button {
        display: block;
        margin: 64px auto 32px;
        cursor: pointer;

        @include respond('medium') {
            margin: 96px auto 64px;
        }
    }
}