<nav id="nav" class="nav">
    <ul class="nav__list">
        {{ $currentPage := . }}
        {{ $len := (len .Site.Menus.main) }}
        {{ range $index, $element := .Site.Menus.main }}
                <li class="nav__listitem">
                    <a class="nav__link" href="{{ .URL }}">{{ .Name }}</a>
                </li>
            {{ if ne (add $index 1) $len }}
                <li class="nav__divider"></li>
            {{ end }}
        {{ end }}
    </ul>
    <div class="nav__burger">
        <div id="navButton" class="burger">
            <div class="burger__bar--top"></div>
            <div class="burger__bar--bottom"></div>
        </div>
    </div>
</nav>